/*自我介绍页独有样式*/
.me {
  //filter: grayscale(100%);// 使所有元素内容变成黑白色
  .custom-block.tip {
    background-color: #eeffdb;
    border-color: #eeffdb;
  }

  .theme-default-content:not(.custom) img {
    max-width: 10%;
  }

}
