.博客圈{
  --content-width: 100%;

  .vp-site-info{
    max-width: 300px;
    //width: calc(20% - 24px);
  }
  #友链格式参考,.CodeGroup,.hint-container,.tip,#valine,.page-meta,.page-nav,#comment{
    //width: 50%;
    //max-width: 740px;;
    max-width: 800px;
    margin: 0 auto;
  }
}
