/*
这是首页的单独样式
 */
.首页 {
  //filter: grayscale(100%);// 使所有元素内容变成黑白色
  /*导航栏*/
  .navbar {
    background-color: rgba(154, 219, 190, 0);
  }
  /*导航栏内容*/
  //.navbar .links {
  //  background-color: rgba(154, 219, 190, 0.41);
  //}


  background-image: url("/img/login-lingdu.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh; /* 设置 body 元素高度与屏幕高度一致 */
  margin: 0; /* 去除 body 元素的默认边距 */

  .hero {
    img {
      height: auto;
      animation: light 4s ease-in-out infinite;
      border-radius: 50%; /* 将图片显示为圆形 */
      transition: 0.5s;
    }
    img:hover {
      transform: scale(1.215) rotate(720deg);
    }
  }


  .home .hero .action-button.secondary {
    background-color: rgba(197, 170, 238, 0.43);
  }


  /*备案信息底部居中*/
  #fixed-bottom-center {
    position: fixed;
    bottom: 0; /* 固定在底部 */
    left: 50%; /* 相对于浏览器左侧偏移50% */
    transform: translateX(-50%); /* 使用translateX将其向左移动自身宽度的一半，实现水平居中 */
    /* 添加其他必要的样式，如宽度、高度等 */
    width:300px;
    margin:0 auto;
    padding:20px 0;
    //position: relative;
    text-align: center;
    color: #8b949e;
    font-size: 12px;
    z-index: 0;
  }
  .vp-card{
    z-index: 1;
    position: relative;
  }
}