/* .vuepress/styles/index.styl */

/*
---
pageClass: liuyanban-page-class
---
 */

@import "docs/.vuepress/public/html/gpt/iframestyle/gpt_html_iframe.scss";

/*GPT聊天页面样式*/
@import "docs/.vuepress/public/html/gpt/assets/index-b0f8cc2a-1.scss";
@import "docs/.vuepress/public/html/gpt/assets/index-a6c9935d-2.scss";

/*使背景透明*/
iframe {
  background-color: transparent;
}

@import "./页面独立样式/站点统计";

@import "./页面独立样式/书签";

@import "./页面独立样式/博客圈";

@import "./页面独立样式/知识架构";


/*使小球可拖动*/
#my-canvas {
  position: fixed;
  cursor: move;
  z-index: 999;
}

@import "./页面独立样式/卡片元素";

/*通知框*/
@import "./页面独立样式/通知框";

/*搜索框*/
.search-box {
  //background-color: #c1f1f1;
}

/*留言板页面单独的样式配置*/
@import "./页面独立样式/留言板";

// 导入首页样式
@import "./页面独立样式/首页";

/*自我介绍页独有样式*/
@import "./页面独立样式/me";

@import "./页面独立样式/安妮图片";

@import "./页面独立样式/qiuzhaoxin";


@import "./页面独立样式/上宽下窄";
