/* .vuepress/styles/index.styl */

/*
---
pageClass: liuyanban-page-class
---
 */

@import "docs/.vuepress/public/html/gpt/iframestyle/gpt_html_iframe.scss";

@keyframes light {
  0%{box-shadow: 0 0 4px #f00;}
  25%{box-shadow: 0 0 16px #0f0;}
  50%{box-shadow: 0 0 4px #00f;}
  75%{box-shadow: 0 0 16px #0f0;}
  100%{box-shadow: 0 0 4px #f00;}
}

/*使背景透明*/
iframe {
  background-color: transparent;
}

.站点统计{
  --content-width: 100%;
}
.书签{
  --content-width: 100%;
  .page-meta,.page-nav,#comment{
    //width: 50%;
    //max-width: 740px;;
    max-width: 800px;
    margin: 0 auto;
  }
}
.博客圈{
  --content-width: 100%;

  .vp-site-info{
    max-width: 300px;
    //width: calc(20% - 24px);
  }
  #友链格式参考,.CodeGroup,.hint-container,.tip,#valine,.page-meta,.page-nav,#comment{
    //width: 50%;
    //max-width: 740px;;
    max-width: 800px;
    margin: 0 auto;
  }
}


/*使小球可拖动*/
#my-canvas {
  position: fixed;
  cursor: move;
  z-index: 999;
}


/*卡片元素鼠标悬浮样式*/
.vp-card:hover{
  --card-shadow: rgb(11, 186, 250);
  box-shadow: 4px 4px 30px 0 var(--card-shadow) ;
  transform: scale(1.05);

  /*头像呼吸光环和鼠标悬停旋转放大*/
  .vp-card-logo{
    animation: light 4s ease-in-out infinite;
    transition: 0.5s;
  }
  .vp-card-logo:hover {
    transform: scale(1.15) rotate(720deg);
  }
}




/*通知框*/
.vp-notice-wrapper {
  --notice-width: auto;
  transition: right 0.5s ease-in-out;
}
.vp-notice-title{
  --vp-tc: rgba(11, 186, 250, 0)
}
#btnMove{
  left: -10px;
  position: relative;
  animation: breathe 4s ease-in-out infinite;
}
@keyframes breathe {
  0% {
    color: #ff0000; /* 起始颜色 */
    text-shadow: 0 0 4px rgb(255, 2, 2);
  }
  50% {
    color: #00ff00; /* 中间颜色 */
    text-shadow: 0 0 16px rgb(2, 255, 2);
  }
  100% {
    color: #0000ff; /* 结束颜色 */
    text-shadow: 0 0 4px rgb(2, 2, 255);
  }
}


/*搜索框*/
.search-box {
  //background-color: #c1f1f1;
}

/*留言板页面单独的样式配置*/
.liuyanban-page-class {

  /* 加载背景图 */
  //background-image: url("/img/1.jpg");
  // 使用html作为背景
  .background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* 去除 iframe 的边框 */
  }

  /*导航栏*/
  .navbar {
    background-color: rgba(255, 255, 255, 0.14);
    border-bottom: abs(0);
  }

  /*导航栏内容*/
  .navbar .links {
    background-color: rgba(154, 219, 190, 0.13);
  }

}


/*
这是首页的单独样式
 */
.首页 {
  /*导航栏*/
  .navbar {
    background-color: #9adbbe70;
  }
  /*导航栏内容*/
  .navbar .links {
    background-color: rgba(154, 219, 190, 0);
  }
  .hero {
    img {
      height: auto;
      animation: light 4s ease-in-out infinite;
      border-radius: 50%; /* 将图片显示为圆形 */
      transition: 0.5s;
    }
    img:hover {
      transform: scale(1.215) rotate(720deg);
    }
  }
  #shizhong{
    position: fixed;
    top: 70px;
    left: 10px;
    //border: none;
    //overflow: hidden;
    //width: 260px;
    //height: 260px;
    width: 12%;
    padding-bottom: 12%;// 使高度与宽度保持一致
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none; /* 去除 iframe 的边框 */
      overflow: hidden;
    }
  }
  //疯狂旋转
  #main-title {
    animation-name: color-transition;
    animation-duration: 3s;
    animation-iteration-count: infinite; /* 可选，控制动画循环次数 */
    //text-shadow: 9px 9px 9px rgba(0, 0, 0, 0.59);/* 阴影 */
    animation: color-transition 2000ms  infinite cubic-bezier(0, 1.44, 1, -0.4);
    //transform-origin: 49.2901% 50.492%;// 214/569 284/543
    transform-origin: 50% 50%;// 214/569 284/543
  }
  @keyframes color-transition {
    /* 循环生成 1% 到 100% 的关键帧 */
    @for $i from 0 through 100 {
      #{($i - 1)%100}% {
        //color: interpolate(#76bf09, #0bbafa, $i / 100);
        color: hsl($i, 100%, 50%);
        //text-shadow: 9px 9px 9px hsla($i, 100%, 50%,0.5);
      }
    }
    from {
      transform: rotate(0deg);
      //text-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5); /* 正向阴影 */
    }
    to {
      transform: rotate(360deg);
      //text-shadow: -9px -9px 10px rgba(0, 0, 0, 0.5); /* 相反方向阴影 */
    }
  }
}

/*自我介绍页独有样式*/
.me {
  .custom-block.tip {
    background-color: #eeffdb;
    border-color: #eeffdb;
  }

  .theme-default-content:not(.custom) img {
    max-width: 10%;
  }

}

.qiuzhaoxin {

  // 音乐插件
  .AudioPlayer {
    z-index: 1;
    box-shadow: 2px 2px 10px 0 var(--card-shadow);
    --card-shadow: rgba(0, 0, 0, 0.29);

    .plyr--audio .plyr__controls {
      --plyr-audio-controls-background: var(--vp-bg);
      background: var(--plyr-audio-controls-background, rgba(255, 255, 255, 0.26));
      --vp-bg: var(--c-bg, rgba(255, 255, 255, 0.26));
      --c-bg: rgba(255, 255, 255, 0.26);
    }
  }

  // 照片 img
  .medium-zoom-image {
    z-index: 1;

    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.8),
    0 0 30px rgba(0, 0, 0, 0.45),
    0 0 10px rgba(0, 0, 0, 0.51);

  }

  // 使用html作为背景
  .background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* 去除 iframe 的边框 */
  }

  // 侧边栏
  .sidebar {
    background-color: rgba(255, 255, 255, 0);
    border-right: 0 solid var(--c-border);
  }

  /*导航栏*/
  .navbar {
    background-color: rgba(0, 0, 0, 0.09);
    border-bottom: abs(0);
  }

  /*导航栏内容*/
  .navbar .links {
    background-color: rgba(154, 219, 190, 0);
  }
}
